.banner {
  display: flex;
  align-items: center;
}

.bannerTextContainer {
  width: 60%;
}

.bannerTitle {
  font-size: 40px;
  font-weight: 600;
}

.bannerDescription {
  width: 70%;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 28px;
  letter-spacing: -0.307px;
}

.bannerButtonGroup {
  display: flex;
  gap: 20px;
}

.eventsButton,
.donateButton {
  border-radius: 10px;
  text-decoration: none;
  padding: 16px 27px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eventsButton {
  color: white;
  background-color: #e84855;
}

.eventsButton:hover {
  background-color: #d4414e;
}

.donateButton {
  border: 2px solid #e84855;
  color: #e84855;
}

.donateButton:hover {
  color: #d4414e;
  border-color: #d4414e;
}

.bannerImageContainer {
  width: 38%;
  padding-left: 20px;
}

.bannerImage {
  max-width: 100%;
}

@media screen and (max-width: 800px) {
  .banner {
    flex-direction: column;
    margin-top: 25px;
  }

  .bannerTextContainer {
    width: 100%;
  }

  .bannerDescription {
    width: 80%;
  }
  .bannerImageContainer {
    width: 80%;
    margin: 0 auto;
    margin-top: 32px;
  }
}
@media screen and (max-width: 650px) {
  .bannerDescription {
    width: 90%;
  }
}
