.eventsPageContainer {
    margin-top: 100px;
    background-color: #ede8fa;
    position: relative;
    padding-top: 125px;
    padding-bottom: 150px;
    margin-bottom: 100px;
    padding-left: 8%;
    padding-right: 8%;
}

.eventsPageTitle {
    font-size: 36px;
    color: #060747;
}

@media screen and (max-width: 975px) {
    .eventContainer {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .left {
        width: 100%;
    }
    .imageContainer {
        width: 100%;
        margin: 0;
    }
}

.customShapeDividerTop1666447409 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.customShapeDividerTop1666447409 svg {
    position: relative;
    display: block;
    width: calc(127% + 1.3px);
    height: 100px;
}

.customShapeDividerTop1666447409 .shapeFill {
    fill: #f9f9fb;
}

.customShapeDividerBottom1666447991 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.customShapeDividerBottom1666447991 svg {
    position: relative;
    display: block;
    width: calc(128% + 1.3px);
    height: 100px;
}

.customShapeDividerBottom1666447991 .shapeFill {
    fill: #f9f9fb;
}

@media screen and (max-width: 1200px) {
    .customShapeDividerBottom1666447991 svg,
    .customShapeDividerTop1666447409 svg {
        height: 75px;
    }
}
@media screen and (max-width: 800px) {
    .customShapeDividerBottom1666447991 svg,
    .customShapeDividerTop1666447409 svg {
        height: 50px;
    }
}

@media screen and (max-width: 1410px) {
    .eventsPageContainer {
        padding-left: 10%;
        padding-right: 10%;
    }
}
@media screen and (max-width: 1100px) {
    .eventsPageContainer {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media screen and (max-width: 600px) {
    .eventsPageContainer {
        padding-left: 4%;
        padding-right: 4%;
        margin-top: 50px;
        margin-bottom: 25px;
    }
}
@media screen and (max-width: 500px) {
    .eventsPageContainer {
        padding-top: 100px;
        padding-bottom: 125px;
    }
}
